<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <!-- Statistics by www.1abzar.com --->
<script type="text/javascript" src="https://1abzar.ir/abzar/tools/stat/amar-v3-ramz.php?mod=1&amar=ppqbrbsw8zrc-rmkijacb6po71hqh0&p=5bf37b381148dabb028219725c6e6baa"></script><div style="display:none"><h3><a href="https://www.1abzar.com/abzar/stat.php">&#1570;&#1605;&#1575;&#1585;&#1711;&#1740;&#1585; &#1608;&#1576;&#1604;&#1575;&#1711;</a></h3></div>
<!-- Statistics by www.1abzar.com --->
    <p class="m-0 text-center text-white" dir="rtl" >
      هرگونه کپی برداری از مطالب این سایت آزاد است.
    </p>
  </div>
  <!-- /.container -->
</footer>
